::ng-deep .mat-menu-panel.auth-menu {
    max-width: 100%!important;
    min-width: 128px!important;
    width: 90%;
}

::ng-deep.cdk-overlay-pane{
    width: 300px;
}

:host {

    .container {

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 100%;

        .brand-logo {
            position: absolute;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            height: 33vh;
            width: 19vw;
            left: 5%;
            top: 20px;
        }

        .container-header {
            position: absolute;
            width: 50vw;
            top: 0;
            right: 0;
            margin: 10px 20px;

            .mat-button {
                width: 100%;
                display: flex;
                max-width: 285px;
                margin-left: auto;

                ::ng-deep .mat-button-wrapper {
                    display: inline-block;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .box {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1024px;
        margin: max(25vh, 100px) auto auto;

        div.app {
            padding: 15px;
            @media only screen and (max-width: 339px) {
                flex: 0 1 100%;
            }

            @media only screen and (min-width: 340px) {
                flex: 0 1 80%;
                max-width: 80%;
            }

            @media only screen and (min-width: 768px) {
                flex: 0 1 50%;
                max-width: 50%;
            }

            @media only screen and (min-width: 1024px) {
                flex: 0 1 33%;
                max-width: 33%;
            }

            button {
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;

                ::ng-deep .mat-button-wrapper {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

            }
        }
    }
}
