<div class="container">
    <div class="brand-logo" [style.background-image]="'url(' + url_brand_logo + ')'"></div>
    <div class="container-header">
        <button mat-button [matMenuTriggerFor]="auth_menu" title="{{user.login}}"><strong>{{user.name}} ({{user.login}})</strong></button>
        <mat-menu #auth_menu="matMenu" class="auth-menu" backdropClass="auth-menu">
            <button mat-menu-item (click)="onclickDisconnect()">Se déconnecter</button>
        </mat-menu>
    </div>
    <div class="box">
        <ng-container *ngFor="let app of getApps()">
            <div class="app" *ngIf="isGranted(app)">
                <button mat-raised-button
                        [ngClass]="app"
                        color="primary"
                        [style.background-color]="getColor(app)"
                        [style.color]="getTextColor(app)"
                        (click)="onSelect(app)"
                >
                    <div class="app-background"></div>
                    <div class="app-icon-wrapper">
                        <mat-icon [ngStyle]="{'color': getColor(app)}" class="app-icon">{{apps[app].icon}}</mat-icon>
                    </div>
                    <div class="app-name-description-wrapper">
                        <div class="app-name" [ngClass]="{'app-name-with-description': apps[app].description && apps[app].description.length}">{{apps[app].name | translate}}</div>
                        <div class="app-description" *ngIf="apps[app].description">
                            {{apps[app].description | translate}}
                        </div>
                    </div>
                </button>
            </div>
        </ng-container>
    </div>
</div>
